.breadcrumbs {
    width: 100%;
}

.breadcrumbs nav {
    padding: 10px;
}

.breadcrumbs nav ul {
    display: flex;
    font-size: 30px;
}

.breadcrumbs li {
    list-style: none;
    margin: 10px 10px 10px 0px;
}

.breadcrumbs a {
    text-decoration: none;
}