.breadcrumbs {
    width: 980px;
    padding-left: 15px;
}

.breadcrumbs nav ul {
    display: flex;
    font-size: 30px;
}

.breadcrumbs li {
    list-style: none;
    margin: 10px 10px 10px 0px;
}

/*------------------------------------------------------------------*/

@media(max-width: 980px) {
    .breadcrumbs {
        width: 100%;
    }
}