.delivery-and-payment-form {
    text-align: center;
}

.delivery-and-payment-form input {
    width: 450px;
    height: 3lh;
    margin: 5px 0;
    padding-left: 8px;
}

.delivery-and-payment-form .cvv-and-pin {
    display: flex;
    justify-content: space-between;
    width: 450px;
    margin: 0 auto;
}

.delivery-and-payment-form .cvv-and-pin input {
    width: 220px;
}

.delivery-and-payment-form button {
    width: 450px;
    height: 3lh;
    margin-top: 10px;
    cursor: pointer;
}

/*------------------------------------------------------------------*/

@media(max-width: 992px) {
    .delivery-and-payment-form {
        padding: 15px;
    }
    
    .delivery-and-payment-form input {
        width: 100%;
    }

    .delivery-and-payment-form .cvv-and-pin {
        width: 100%;
    }

    .delivery-and-payment-form .cvv-and-pin input {
        width: 100%;
    }

    .delivery-and-payment-form button {
        width: 100%;
    }
}

/*-JS---------------------------------------------------------------*/

.error {
    outline-color: #f06767;
    box-shadow: inset 0 0 10px 1px #f06767;
    border: none;
}

.feedback input::placeholder {
    color: #f06767;
    padding-left: 15px;
    font-style: italic;
}