.content {
    width: 980px;
    margin: 10px auto;
}

.content-block {
    display: flex;
    justify-content: center;
    margin-top: 25px;
}

.content-block .leftblock {
    width: 25%;
}

.content-block .centerblock {
    width: 75%;
}

.content-block .leftblock .navigation .section {
    text-decoration: none;
    font-size: 20px;
}

.content-block .leftblock .navigation ul li{
    margin: 15px 0;
}

.content-block .leftblock .navigation .selected a {
    text-decoration: underline;
}

.content-block .leftblock .navigation nav ul li{
    list-style: none;
}

.content-block .leftblock .navigation .hidden-menu {
    display: none;
}

.content-block .leftblock .navigation .hidden-menu ul li {
    list-style: circle;
    margin: 0;
}

.content-block .leftblock .navigation .hidden-menu ul li .selected {
    color: black;
}

.content-block .leftblock .navigation li:hover .hidden-menu {
    display: block;
}

.content-block .leftblock .navigation .hidden-menu a {
    text-decoration: none;
    font-size: small;
}

.content-block .leftblock .price-logo {
    text-align: center;
    margin-top: 75%;
    color: #4a4a4a;
}

.content-block .leftblock .price-logo a {
    text-decoration: none;
}

.content-block .leftblock .price-logo p {
    font-weight: bold;
    font-size: x-large;
    margin-top: 0;
}

.centerblock .div-table {
    display: none;
}

.centerblock .div-table a {
    text-decoration: none;
    height: 15px;
    margin-top: 10%;
}

.centerblock .div-table .table-row  {
    display: flex;
    justify-content: left;
    margin-bottom: 30px;
}

.centerblock .div-table .table-row .table-point {
    text-align: center;
    width: 30%;
    background-color: #dddddd;
    margin: 0 15px;
}

.centerblock .div-table .table-row .table-point img {
    width: 75%;
    margin: 8%;
}

.centerblock .div-table .table-row .table-point .description {
    font-size: 18px;
    padding: 5px;
    text-align: left;
}

.centerblock .div-table .table-row .table-point div {
    display: flex;
    justify-content: space-around;
}

.centerblock .div-table .table-row .table-point div .price {
    font-weight: bold;
    font-size: 25px;
    color: #575757;
}

.centerblock .div-table .table-row .table-point div .buy-img {
    width: 25px;
}

.content-block .centerblock table {
    border-spacing: 25px;
}

.content-block .centerblock table a {
    text-decoration: none;
    height: 15px;
    margin-top: 10%;
}

.content-block .centerblock table tr td{
    text-align: center;
    width: 30%;
    background-color: #dddddd;
}

.content-block .centerblock table tr td img {
    width: 75%;
    margin: 8%;
}

.content-block .centerblock table tr td .description{
    font-size: 18px;
    padding: 5px;
    text-align: left;
}

.content-block .centerblock table tr td div {
    display: flex;
    justify-content: space-around;
}

.content-block .centerblock table tr td div .price {
    font-weight: bold;
    font-size: 25px;
    color: #575757;
}

.content-block .centerblock table tr td div .buy-img {
    width: 25px;
}

.content-block .centerblock .page-num {
    text-align: center;
    margin: 0 0px 55px 0px;
}

.content-block .centerblock .page-num a {
    text-decoration: none;
    font-size: small;
    margin: 0px 1.5% 0px 1.5%;
}

.content-block .centerblock .page-num .picked{
    text-decoration: none;
    color: black;
    font-size: large;
}

.content-block .centerblock .desc-content {
    display: flex;
    justify-content: space-between;
}

.content-block .centerblock .desc-content .left-desc {
    width: 50%;
    padding: 15px;
}

.content-block .centerblock .desc-content .right-desc {
    width: 50%;
    padding: 15px;
}

.contacts-block {
    text-align: center;
}

.contacts-block .numbers {
    margin: 75px 0;
}

.contacts-block .numbers p {
    font-size: x-large;
}

/*------------------------------------------------------------------*/

@media(max-width: 992px) {
    .content {
        width: 100%;
        margin: 10px auto;
    }

    .content-block .centerblock table {
        border-spacing: 15px;
    }
}

/*------------------------------------------------------------------*/

@media(max-width: 768px) {   
    .content-block {
        display: block;
        justify-content: none;
    }

    .content-block .centerblock table {
        display: none;
    }

    .centerblock .div-table {
        display: block;
    }

    .centerblock .div-table .table-row {
        display: block;
        justify-content: none;
    }

    .centerblock .div-table .table-row .table-point {
        margin: 0 auto;
        width: 50%;
        margin-bottom: 25px;
    }

    .content-block .leftblock {
        width: 100%;
        display: flex;
        justify-content: space-around;
    }
    
    .content-block .centerblock {
        width: 100%;
    }

    .content-block .centerblock .div-table .table-row .table-point .description{
        font-size: 15px;
        text-align: left;
    }

    .content-block .centerblock .div-table .table-row .table-point div .price {
        font-weight: bold;
        font-size: 15px;
        color: black;
    }

    .content-block .centerblock .div-table .table-row .table-point .buy-img {
        width: 20px;
    }

    .content-block .leftblock .price-logo img {
        width: 50px;
    }

    .content-block .leftblock .price-logo p {
        font-weight: bold;
        font-size: large;
        margin-top: 0;
    }

    .content-block .leftblock .price-logo {
        margin-top: 0;
    }

    .content-block .centerblock .desc-content {
        display: block;
        justify-content: none;
        text-align: justify;
    }

    .content-block .centerblock .desc-content .left-desc {
        width: 100%;
        padding: 5px 15px;
    }
    
    .content-block .centerblock .desc-content .right-desc {
        width: 100%;
        padding: 5px 15px;
    }

    .content-block .leftblock .navigation .section {
        font-size: 15px;
    }

    .content-block .leftblock .navigation nav ul li {
        margin: 0;
    }
}