.feedback {
    text-align: center;
    position: fixed;
    background-color: white;
    padding: 50px;
    top: 10%;
    left: 36%;
    width: 480px;
    opacity: 0;
    overflow: hidden;
    visibility: hidden;
    transition: opacity 0.5s ease;
    z-index: 21;
}

.back-black {
    position: fixed;
    z-index: 9;
    background-color: black;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    visibility: hidden;
    transition: opacity 0.5s ease;
    opacity: 0;
}

.close-btn {
    background-color: #777777;
    padding: 5px;
    position: absolute;
    width: 30px;
    bottom: 100%;
    right: -30px;
    z-index: 20;
}

.click-container {
    position: relative;
    display: inline-block;
}

.clickable {
    cursor: pointer;
    text-decoration: underline;
}

.feedback .clickable img {
    cursor: pointer;
}

.feedback input {
    width: 350px;
    height: 40px;
    margin-bottom: 5%;
    margin-top: 10px;
}

.feedback input:invalid {
    outline-color: red;
    box-shadow: inset 0 0 10px 3px red;
}

.feedback input:invalid::placeholder {
    color: red;
    padding-left: 15px;
}

#click-check, #close-check {
    display: none;
}

#click-check:checked ~ .feedback {
    visibility: visible;
    opacity: 1;
    overflow: visible;
}

#click-check:checked ~ .back-black {
    visibility: visible;
    opacity: 0.65;
}

.enter-btn {
    cursor: pointer;
    width: 150px;
    height: 40px;
    margin-top: 5%;
    background-color: #777777;
    border: none;
    color: white;
    font-weight: bold;
    font-size: 18px;
}

.feedback .message {
    field-sizing: content;
    width: 350px;
    height: 10lh;
    margin-top: 10px;
}

/*------------------------------------------------------------------*/

@media(max-width: 1200px) {
    .feedback {
        left: 28%;
    }
}

/*------------------------------------------------------------------*/

@media(max-width: 992px) {
    .feedback {
        left: 23%;
    }

    .close-btn {
        width: 30px;
    }
}

/*------------------------------------------------------------------*/

@media(max-width: 768px) {
    .feedback {
        left: 13%;
    }

    .close-btn {
        width: 30px;
    }

    .feedback {
        width: 100%;
        height: 100%;
        left: 0%;
        top: 0%;
    }

    .close-btn {
        width: 35px;
        right: 0;
        top: 0;
        bottom: 0;
    }

    .message {
        margin-top: 3%;
    }
    
    .feedback input {
        margin-bottom: 3%;
        margin-top: 5px;
    }
}

/*------------------------------------------------------------------*/

@media(max-width: 450px) {
    .feedback input {
        margin-bottom: 3%;
        margin-top: 5px;
        width: 100%;
    }

    .feedback .message {
        width: 100%;
    }
}