footer {
    background-color: #3b3b3b;
    width: 100%;
    padding: 10px;
    color: white;
    margin-top: 175px;
}

.footer {
    width: 980px;
    padding: 10px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
}

.about p {
    margin: 0;
}

.tags li {
    list-style: none;
}

.tags a {
    text-decoration: none;
    color: white;
}

.creators {
    display: flex;
}

.creators img {
    width: 30px;
    height: 30px;
    margin-top: 13%;
}

/*------------------------------------------------------------------*/

@media(max-width: 992px) {
    footer {
        margin-top: 0;
    }

    .footer {
        width: 100%;
    }
}

/*------------------------------------------------------------------*/

@media(max-width: 768px) {
    .br-hide {
        display: none;
    }

    .footer {
        width: 100%;
        font-size: 15px;
        display: block;
        justify-content: none;
        text-align: center;
    }

    .footer .tags {
        margin: 15px 0;
    }

    .footer .tags nav ul {
        display: flex;
        justify-content: space-between;
    }

    .creators {
        display: flex;
        justify-content: center;
    }

    .creators img {
        width: 25px;
        height: 25px;
        margin-top: 15px;
    }
}

/*------------------------------------------------------------------*/

@media(max-width: 500px) {
    .footer {
        font-size: 13px;
    }
    
    .creators img {
        width: 20px;
        height: 20px;
    }

    .tags ul {
        margin: 0;
        padding: 0;
    }
}

/*------------------------------------------------------------------*/

@media(max-width: 320px) {
    .footer .tags nav ul {
        display: block;
        justify-content: none;
    }
}