.slider {
    text-align: center;
    width: 100%;
    z-index: -10;
    position: relative;
}

.slider img {
    width: 100%;
}

.slider .slick-slide {
    text-align: center;
    z-index: -10;
    position: relative;
}

.slick-prev, .slick-next {
    font-size: 0;
    line-height: 0;
    position: absolute;
    top: 50%;
    transform: translate(0, -50%);
    cursor: pointer;
    background: #3498db; /* Arrow background color */
    border-radius: 50%;
    padding: 10px;
}

.slick-prev {
    left: -50px;
}

.slick-next {
    right: -50px;
}

.slick-prev:before, .slick-next:before {
    font-family: 'slick';
    font-size: 20px;
    color: black;
}

.arrows li {
    position: absolute;
    list-style: none;
    z-index: 1;

    &.left-arrow {
        height: 61px;
        width: 34px;
        top: 650px;
        left: 15%;
        background: url("../images/left.jpg") no-repeat;
    }
    
    &.right-arrow {
        height: 61px;
        width: 34px;
        top: 650px;
        right: 15%;
        background: url("../images/right.jpg") no-repeat;
    }
}

/*------------------------------------------------------------------*/

@media(max-width: 1600px) {
    .arrows li {
        position: absolute;
        list-style: none;
    
        &.left-arrow {
            height: 61px;
            width: 34px;
            top: 500px;
            left: 15%;
            background: url("../images/left.jpg") no-repeat;
        }
        
        &.right-arrow {
            height: 61px;
            width: 34px;
            top: 500px;
            right: 15%;
            background: url("../images/right.jpg") no-repeat;
        }
    }
}

/*------------------------------------------------------------------*/

@media(max-width: 992px) {
    .arrows li {
        position: absolute;
        list-style: none;
    
        &.left-arrow {
            height: 61px;
            width: 34px;
            top: 350px;
            left: 5%;
            background: url("../images/left.jpg") no-repeat;
        }
        
        &.right-arrow {
            height: 61px;
            width: 34px;
            top: 350px;
            right: 5%;
            background: url("../images/right.jpg") no-repeat;
        }
    }
}

/*------------------------------------------------------------------*/

@media(max-width: 768px) {
    .arrows li {
        position: absolute;
        list-style: none;
    
        &.left-arrow {
            height: 61px;
            width: 34px;
            top: 300px;
            left: 5%;
            background: url("../images/left.jpg") no-repeat;
        }
        
        &.right-arrow {
            height: 61px;
            width: 34px;
            top: 300px;
            right: 5%;
            background: url("../images/right.jpg") no-repeat;
        }
    }
}

/*------------------------------------------------------------------*/

@media(max-width: 500px) {
    .arrows li {
        position: absolute;
        list-style: none;
    
        &.left-arrow {
            height: 61px;
            width: 34px;
            top: 225px;
            left: 5%;
            background: url("../images/left.jpg") no-repeat;
        }
        
        &.right-arrow {
            height: 61px;
            width: 34px;
            top: 225px;
            right: 5%;
            background: url("../images/right.jpg") no-repeat;
        }
    }
}

/*------------------------------------------------------------------*/

@media(max-width: 400px) {
    .arrows li {
        position: absolute;
        list-style: none;
    
        &.left-arrow {
            height: 61px;
            width: 34px;
            top: 200px;
            left: 5%;
            background: url("../images/left.jpg") no-repeat;
        }
        
        &.right-arrow {
            height: 61px;
            width: 34px;
            top: 200px;
            right: 5%;
            background: url("../images/right.jpg") no-repeat;
        }
    }
}

/*------------------------------------------------------------------*/

@media(max-width: 329px) {
    .arrows li {
        position: absolute;
        list-style: none;
    
        &.left-arrow {
            height: 61px;
            width: 34px;
            top: 250px;
            left: 5%;
            background: url("../images/left.jpg") no-repeat;
        }
        
        &.right-arrow {
            height: 61px;
            width: 34px;
            top: 250px;
            right: 5%;
            background: url("../images/right.jpg") no-repeat;
        }
    }
}